<%= link_to "Back to Photos", photos_path %> | <%= link_to "Edit", edit_photo_path(@photo) %> | <%= link_to "Delete", @photo, method: :delete, data: {confirm: "Are you sure you want to delete this photo?"} %>

<p><%= @photo.title %>, <%= @photo.artist %></p>
<%= image_tag @photo.url %>
